body {
  text-align: right;
  background: rgb(28, 14, 90);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}
p {
  font-size: 22px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="button"] {
  color: white;
  background: red;
}
h1 {
  background: orange;
}